.row {
  display: flex;
  align-items: center;
}

.col {
  flex: 50%;
  margin: 0 2rem;
}

.icon {
  width: 50px;
  height: 50px;
  font-size: 50px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}