<mat-card style="margin: 1rem;">
    <mat-card-header>Enter the symbol of a stock to track</mat-card-header>
    <div style="margin: 1rem 4rem">
        <mat-form-field style="margin-right: 2rem;">
            <mat-label>Stock ID</mat-label>
            <input 
                [formControl]="stockId" 
                [maxlength]="5"
                matInput 
                placeholder="Ex. AAPL">
        </mat-form-field>
        <button 
            mat-raised-button
            color="primary"
            [disabled]="!stockId.valid" 
            (click)="trackStock(stockId.value!)">
            Track Stock
        </button>
    </div>
</mat-card>
